.filter-group {
  font: 12px/16px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 600;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  border-radius: 3px;
  width: 145px;
  color: #fff;
}

.filter-group input[type=checkbox]:first-child + label {
  border-radius: 3px 3px 0 0;
}

.filter-group label:last-child {
  border-radius: 0 0 3px 3px;
  border: none;
}

.filter-group input[type=checkbox] {
  display: none;
}

.filter-group input[type=checkbox] + label {
  background-color: #3386c0;
  display: block;
  cursor: pointer;
  padding: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.filter-group input[type=checkbox] + label {
  background-color: #697412;
  text-transform: capitalize;
}

.filter-group input[type=checkbox] + label:hover,
.filter-group input[type=checkbox]:checked + label {
  background-color: #a1bb1d;
}

.filter-group input[type=checkbox]:checked + label:before {
  content: '✔';
  margin-right: 5px;
}

label.f1 {
  background-color: rgb(247, 203, 159) !important;
}
label.f2 {
  background-color: rgb(166, 195, 242) !important;
}
label.f3 {
  background-color: rgb(148, 195, 128) !important;
}
a.f1 {
  background-color: rgb(247, 203, 159) !important;
}
a.f2 {
  background-color: rgb(166, 195, 242) !important;
}
a.f3 {
  background-color: rgb(148, 195, 128) !important;
}
