.fktcontainer .fktcontent {
    display: none;
    padding: 5px;
}

.fktheader {
    background: red
}

.qualicontainer .qualicontent {
    display: none;
    padding: 5px;
}

.filterheader {
    background: blue;
    font: 12px/16px 'Helvetica Neue', Arial, Helvetica, 'sans-serif';
    font-weight: 600;
    z-index: 1;
    border-radius: 3px;
    width: 290px;
    color: #fff;
    background-color: #888;
    padding: 5px;
    margin: 0 5px 0 5px;
}

.fktheader {
    width: 250px;
 }

.fktfilter {
    font: 12px/16px 'Helvetica Neue', Arial, Helvetica, 'sans-serif';
    font-weight: 600;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    border-radius: 3px;
    width: 260px;
    color: #fff;
}

.fktfilter input[type=checkbox]:first-child + label {
    border-radius: 3px 3px 0 0;
}

.fktfilter label:last-child {
    border-radius: 0 0 3px 3px;
    border: none;
}

.fktfilter input[type=checkbox] {
    display: none;
}

.fktfilter input[type=checkbox] + label {
    background-color: #3386c0;
    display: block;
    cursor: pointer;
    padding: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.fktfilter input[type=checkbox] + label {
    background-color: #697412;
}

.fktfilter input[type=checkbox] + label:hover,
.fktfilter input[type=checkbox]:checked + label {
    background-color: #a1bb1d;
}

.fktfilter input[type=checkbox]:checked + label:before {
    content: '✔';
    margin-right: 5px;
}

.qualifilter {
    font: 12px/16px 'Helvetica Neue', Arial, Helvetica, 'sans-serif';
    font-weight: 600;
    position: absolute;
    top: 10px;
    right: 280px;
    z-index: 1;
    border-radius: 3px;
    width: 300px;
    color: #fff;
}

.qualifilter input[type=checkbox]:first-child + label {
    border-radius: 3px 3px 0 0;
}

.qualifilter label:last-child {
    border-radius: 0 0 3px 3px;
    border: none;
}

.qualifilter input[type=checkbox] {
    display: none;
}

.qualifilter input[type=checkbox] + label {
    background-color: #3386c0;
    display: block;
    cursor: pointer;
    padding: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.qualifilter input[type=checkbox] + label {
    background-color: #697412;
}

.qualifilter input[type=checkbox] + label:hover,
.qualifilter input[type=checkbox]:checked + label {
    background-color: #a1bb1d;
}

.qualifilter input[type=checkbox]:checked + label:before {
    content: '✔';
    margin-right: 5px;
}

label.quali {
    background-color: rgb(123, 123, 123) !important;
}

a.quali {
    background-color: rgb(203, 203, 203) !important;
}

label.f1 {
    background-color: rgb(237, 135, 176) !important;
}

label.f2 {
    background-color: rgb(142, 208, 234) !important;
}

label.f3 {
    background-color: rgb(195, 244, 108) !important;
}

label.f91 {
    color: black;
    background-color: rgb(250, 226, 236) !important;
}

label.f92 {
    color: black;
    background-color: rgb(223, 242, 249) !important;
}

label.f93 {
    color: black;
    background-color: rgb(226, 250, 184) !important;
}

a.f1 {
    background-color: rgb(237, 135, 176) !important;
}

a.f2 {
    background-color: rgb(142, 208, 234) !important;
}

a.f3 {
    background-color: rgb(195, 244, 108) !important;
}
